@import "common";
.container{
	width:1200px;
	height:auto;
	margin:0 auto;
	.list{
		width:1200px;
		.item{
			width:1200px;
			margin-top:30px;
			display:block;
			&:hover{
				color:#f394aa;
			}
			.banner{
				width:1200px;
				height:292px;
				display:block;
			}
			.line{
				background-color:#64b3c9;
				line-height:60px;
				font-size:20px;
				width:100%;
				height:60px;
				div{
					float:left;
					width:39%;
					margin-left:2%;
					@include ellipsis();
				}
				.more{
					text-align:right;
					width:16%;
				}
			}
		}
	}
	ul{
		margin:0 auto;
		list-style-type:none;
		display:table;
		padding-top:20px;
		padding-bottom:20px;
		li{
			display:table-cell;
			padding:0 8px 0 8px;
			a{
				color:#f394aa;
				&:hover,&.act{
					color:#64b3c9;
				}
			}
		}
	}
}