@import "common";
@import "common/swiper";
.container{
	width:1200px;
	height:auto;
	margin:0 auto;

	.item{
		float:left;
		.title{
			$color-title:#a42a43;
			height:47px;
			.left{
				border-bottom:3px solid $color-title;
			}
			div{
				font-size:26px;
				line-height:47px;
				float:left;
			}
			color:$color-title;
		}
		.content{
			margin-top:15px;
			width:100%;
			height:243px;
		}
	}
	.item-left{
		width:356px;
	}
	.item-center{
		width:458px;
		margin-left:25px;
		margin-right:25px;
	}
	.item-right{
		width:336px;
	}
	.about{
		.content{
			
			background-color: #000;
			video{
				width:100%;
				height:100%;
			}
		}
	}
	.cases{
		.content{
			height:447px;
			.slider{
				height:265px;
				width:100%;
			}
			.cases{
				height:182px;
				margin:0;
				.item{
					float:left;
					width:48%;
					height:48%;
					margin:1%;
					height:100px;
				}
			}
		}
	}
	.news{
		.content{
			color:#a42a43;
			line-height:24px;
			font-size:20px;
			.img-txt{
				display:block;
				width:100%;
				height:265px;
			    color: #a42a43;
			    &:hover{
			      color:#f394aa;
			    }
				img{
					height:100%;
					width:60%;
					float:left;
				}
				.txt{
					height:100%;
					width:36%;
					float:right;
				}
			}
			.txt-container{
				width:100%;
				height:200px;
				margin-top:5px;
				border-top:2px dashed #f394aa;
				position:relative;
				.item{
					position:relative;
					padding-left:25px;
					&:before{
						display:block;
						width:20px;
						height:20px;
						position:absolute;
						left:0;
						top:10px;
						content:'';
						border-radius:10px;
						background-color:#f394aa;
					}
					color:#a42a43;
					line-height:40px;
					width:100%;
					&:hover{
				      color:#f394aa;
				    }
				}
				.more{
					line-height:40px;
					color:#a42a43;
					position:absolute;
					bottom:0;
					right:0;
					&:hover{
				      color:#f394aa;
				    }
				}
			}
		}
	}
	.advisory{
		.content{
			.list{
				width:100%;
				.item{
					margin-bottom:20px;
					width:100%;
					.icon{
						float:left;
						width:66px;
						height:66px;
					}
					.txt{
						text-align:left;
						color:#7dbdcd;
						width:260px;
						font-size:22px;
						float:right;
						line-height:33px;
					}
				}
			}
			.buttons{
				width:100%;
				.button{
					height:52px;
					line-height:52px;
					font-size:24px;
					background-color:#7dbdcd;
					text-align: center;
					img{
						float:left;
						margin-top:4px;
					}
					.text{
						float:left;
						line-height:52px;
					}
				}
				.button1{
					float:left;
					width:48%;
				}
				.button2{
					float:right;
					width:48%;
					position:relative;
					.code{
						position:absolute;
						width:100%;
						left:0;
						bottom:52px;
						display:none;
						box-shadow:0 0 20px #000;
					}
					&:hover{
						.code{
							display:block;
						}
					}
					
				}
				.button3{
					margin-top:20px;
					float:left;
					width:100%;
					background-color:#f394aa;
				}
			}
		}
	}
}