@import "common";
@import "common/swiper";

.container{
	width:1200px;
	height:auto;
	margin:0 auto;
	.list{
		width:1200px;
		.item{
			display:block;
			width:1180px;
			padding-left:10px;
			padding-right:10px;
			margin-top:30px;
			font-size:18px;
			line-height:50px;
			color:#a42a43;
			height:120px;
			background-color:#f394aa;
			&:nth-child(2n){
				background-color:#64b3c9;
			}
			.title{
				@include ellipsis();
			}
			.content{
				@include ellipsis();
			}
		}
	}
	ul{
		margin:0 auto;
		list-style-type:none;
		display:table;
		padding-top:20px;
		padding-bottom:20px;
		li{
			display:table-cell;
			padding:0 8px 0 8px;
			a{
				color:#f394aa;
				&:hover,&.act{
					color:#64b3c9;
				}
			}
		}
	}
}
